@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("New Customer", "New", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<table id="customersTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Membership Type
            </th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(new function () {
            //by using this approach, datatble is rendered on server and markup is returned
            //to browser, where jquery table filters data from markup and and build a table in local
            //to use for search
            //To prevent this, better use api to get json result and html is generated at client side
            //and datables will get data without filtering from html
            $("#customersTable").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='customers/edit/" + customer.id + "'>" + data + "</a>"
                        }
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button customer-id='" + data + "' class='btn-link js-delete'>Delete</button>";
                        }
                    }
                ]
            });

            $("#customersTable").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("customer-id"),
                            method: "DELETE",
                            success: function () {
                                //console.log("success");
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

                //if (confirm("Are you sure you want to delete this customer?")) {

                //}
            });
        });
    </script>
}